<div class="container">
  <div class="row">
    <div class="sidebar col-lg-3 col-md-3 col-sm-2" style="background-color: #eee;">
      <div class="avatar"><img class="img-responsive" src="/assets/default_avatar.png">
      </div>


      <div class="display-name">
        <%= current_user.profile.name %>
      </div>
<script>
  

</script>

      <ul class="sidebar-items">
        <!-- <li><span class="icon"><span class="i-comment fs20"></span></span> <span class="link">MESSAGES</span> <span class="indicator pull-right">8</span></li> -->


        <li><span class="icon"><span class="i-lightning fs20"></span></span> <span class="link"><%= link_to 'CHALLENGES', challenges_path %></span> 
        <button type="button" class="pull-right btn btn-primary" data-toggle="modal" data-target="#challengeNotificationModal"><%= challenges_notification_count %></button></li>
        <%= render 'challenges_modal' %>


        <li><span class="icon"><span class="i-groups fs20"></span></span> <span class="link"><%= link_to 'EVENTS', events_path %></span> <span class="indicator pull-right"><%= events_notification_count %></span></li>


        <li><span class="icon"><span class="i-cog fs20"></span></span> <span class="link">ACTIVITIES</span> <span class="indicator pull-right"><%= activities_notification_count %></span></li>


        <li><span class="icon"><span class="i-user fs20"></span></span> <span class="link"><%= link_to 'FRIENDS', friends_path %></span> <span class="indicator pull-right"><%= friends_notification_count %></span></li>
      </ul>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-8" style="background-color: #fff;">
      
      <%= render 'wall_posts/new' %>
      <%= render 'wall_posts/index' %>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-2" style="background-color: #eee;">
      <h4>Scheduled Exercises</h4>
      <div class="small">* Click a day to see or
      create a new workout</div>

      <div data-value="<%= @date %>" id="start_date">
      </div>
      <%= render partial: '/shared/calendar', object: (@date.beginning_of_month.beginning_of_week(:sunday)..@date.end_of_month.end_of_week(:sunday)).to_a %>


      <div class="clear">
      </div>

      <%= link_to "All Events", events_path, class: 'btn btn-default btn-upcoming-events' %>
      <%= link_to 'Add New Event', new_event_path, class: 'btn btn-default btn-create-event' %>


      <div style="width: 100%">
        <%= content_tag :div, "", id: "chart", data: {workouts: current_user.profile.exercises} %>
      </div>
    </div>
  </div>
</div>