 <%= render '/layouts/form_errors', object: @profile %>
  <%= form_for(@profile, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "home gym" %><br />
    I workout at: <br>
    <%= f.text_field :custom_location %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br/>
    <%= f.number_field :zipcode %>
  </div>

  <div class="field">
  <%= f.label :avatar_url %><br>
  <%= f.file_field :avatar_url %>
</div>

  <%= f.submit %>

<% end %>