<div class="row">
  <div class="col-md-10 well member">
    <%= if current_user %>
      <%= link_to "Follow", following_index_path(friend_id: user.id), method: :post,
          class: "btn btn-primary pull-right" unless current_user.follows_or_same?(user) %>
          <div><a id="follow_user_btn" data-profile-id="<%=params[:id]%>">Follow</a></div>
    <% end %>
  </div>
</div>


<% if current_user.following?(params[:id])) %>
YOU ARE FOLLOWING!
<% else %>
<%= form_tag "/following" do |f| %>
  <input type=hidden id="following_user_id" name="following_user_id" value="<%= current_user.id %>" />
  <input type=hidden id="followed_profile_id" name="followed_profile_id" value="<%= params[:id] %>" />
  <input type=submit value="Follow me" />
<%- end %>
<% end %>
<div>
<%= @profile.name %>
</div>

<div>
<%= @profile.location_name_or_custom_location %>
</div>