<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @gym.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gym.longitude %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gym_path %>


<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@gym.latitude},#{@gym.longitude}&markers=#{@gym.latitude},#{@gym.longitude}&zoom=15&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded'%>
