<div id="content-header">
  <h1>Registration for <%= link_to @event.name, @event %></h1>
</div>

<%= form_for([@event, @event_registration]) do |f| %>
<%= render 'shared/errors', object: @event_registration %>
  <fieldset>
  <div class="row">
  <div class="col-md-3">

        <%= f.label :how_heard, class: 'required' %>
        <%= f.select :how_heard,
                      EventRegistration::HOW_HEARD_OPTIONS, { prompt: "Pick one"
                      },
                      { class: 'form-control required' } %>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", events_path, class: "btn btn-default" %>
    </div>
  </div>
  </fieldset>
<% end %>